package main

var (
	HTTPSAddr = ":8081"
	HTTPAddr  = ":8080"
	ACMEDir   = "https://acme-staging-v02.api.letsencrypt.org/directory"
	Domains   = []string{"yourdomain.com"}
	Contact   = []string{"mailto:me@mail.com"}
	CacheDir  = "/a/filepath/to/store/the/certificate/in"
)
